<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Curriculum Vitae</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1 th:text="${title}"/>

    <h2>Basic Information</h2>
    <table>
        <tr>
            <td>Name</td>
            <td>Degoldie Sonny</td>
        </tr>
        <tr>
            <td>Birthdate</td>
            <td>28 April 1998</td>
        </tr>
        <tr>
            <td>Birthplace</td>
            <td>Tangerang</td>
        </tr>
        <tr>
            <td>Address</td>
            <td>Citra Garden 2 Block G11/12A</td>
        </tr>
    </table>

    <h2>Education History</h2>
    <p>Universitas Indonesia, 2016-Present<p>
    <p>SMA 33 Jakarta, 2013-2016<p>

    <h2>Description</h2>
    <p>I am a sentence that describes Degoldie Sonny.</p>

</body>
</html>
